// * Images *//
@mixin images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 10px;
    max-width: 100%;
}


@mixin button($col) {
    background-color: $col;
    &:hover {
      background-color: lighten($col, 15%);
    }
  }


