/* ============================================= */
/* Color variables */
/* ============================================= */

 $color-primary: #279e4b; 
 $color-secondary: #34e2a8; 
 $color-tertiary: #b8409a; 
 $color-quadernary: #927bc1; 
 $color-quinary: #083a17; 
 $color-senary: #ec4d25; 


 //* Buttons *//
 $color-btn: #fff; 

 //* Font & Text *//
 $color-text: rgb(19, 18, 18); 
 $font-stack-primary: 'Lato', sans-serif;


/* Site layout */
$max-width: 1400px;

//Button transition
$btn-transition: background-color 1s ease-in-out;


//Media query breakpoint
 $brk-med: '(min-width: 768px)';