
/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: $color-btn;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
}

.default {
  background-color: $color-secondary;
  }
  
  .error {
  background-color: $color-tertiary;
  }
  
  .info {
  background-color: $color-quadernary;
  }
  
  .success {
  background-color: $color-quinary;
  }
  
  .warning {
  background-color: $color-senary;
  }
  